In [ ]:
a=10
b=a
print(a)
print(b)
print("주소값 대입",id(a)),print(id(b))  # id=138509161087504 주소를 출력하라는 소리
a=20        # 대입(heap -> 주소)
print(a)    # print=a가 가리키는 주소의 데이터를 저장
print(b)    # 10
print("주소값 대입",id(a)),print(id(b))

10
10
주소값 대입 138509161087504
138509161087504
20
10
주소값 대입 138509161087824
138509161087504

(None, None)

In [ ]:
# python은 대소문자를 구분
a=10
A=20
print(a)
print(A)

10
20

In [ ]:
# 입출력, 네트워크 등을 통해서 전송되는 데이터:문자열
problem=input("수식을 입력하시요")
print(problem)
print(int(problem))   # 수치만 가능
print(eval(problem))  # eval 은 데이터 뿐만 아니라 수식 자체를 변환해줌 -> 숫자로 인식해서 받았음  수식연산자도 가능

수식을 입력하시요10+20
10+20
30

In [ ]:
print(int("2"))
print(float("23"))
print(eval("23"))
print(eval("23.5"))
x=5
print(eval("23+(2*x)"))  # x를 변수로 인식
x=5.0
print(eval("23+(2+x)"))

2
23.0
23
23.5
33
30.0

In [ ]:
a=20
print(a)
type(a)  # 데이터 타입도 객체다 <class 'int'>
print(type(a))
type(a)
# 입출력, 네트워크에서는 데이터가 바이트 형태로 송수신
a.to_bytes(4,byteorder="little") # b'\n\x00\x00\x00'    <= b 는 byte의 약자
# x: 16진수

20
<class 'int'>

b'\x14\x00\x00\x00'

In [ ]:
number=20
binary_number=hex(number)   # 16진수
print(hex(number))
binary_number=bin(number)  # 2 진수 변환 binary
print(binary_number)

0x14
0b10100

In [ ]:
# string, integer, float   %s=%string     c# 방식
print('My name %s i am from %s , %i. ' % ('AI','4차산업혁명',10))      # %s
# 순서나 키워드에 의해서 매핑     # c방식
print('My name is {1} and i am from {0} and i like {thing}'.format('딥러닝','AI',thing='cats'))   # 번호가 주어지면 번호에 맞는 인덱스로
name='박지운'
age=20
print(f"이름은 {name} 나이는 {age}")   # 데이터 타입 지정없이 변수로 출력

My name AI i am from 4차산업혁명 , 10.
My name is AI and i am from 딥러닝 and i like cats
이름은 박지운 나이는 20

In [ ]:
number=123.45678
formatted_number=f"{number:.2f}"   # 소수점 두번째 자리까지 반올림
print(formatted_number)

123.46

In [ ]:
fullName=input("이름을 입력하세요:")  # 박 지운
print(type(fullName))
n=fullName.rfind(" ")   #reverse find  = 뒤에서부터 찾음

print(fullName[0])
print(fullName[1])
print(fullName[2])
print(n)  # 인덱스를 0부터 사용함을 알수가 있다
print("이름:",fullName[n+1:])  # : R에서는 에러, 없으면 끝까지
print("성(s):",fullName[:n])   # : 앞에 없으면 처음부터

이름을 입력하세요:박 지운
<class 'str'>
박

지
1
이름: 지운
성(s): 박

In [ ]:
s='korea'
print(s+s)
print(s*3)    # 반복
print(s[0:])  # 0번 인덱스부터 끝까지
print(s[4])   # 4번 인덱스
print(s[-1])  # 뒤에서 시작   # R에서는 -는 제외였음
print(s[1:3])
print(s[-2:])
print(s[-2:5])
print(s[3:-1])
print(len(s))
s.split('r')   # 결과는 리스트로
# []:리스트, {}:dict, ():tuple

koreakorea
koreakoreakorea
korea
a
a
or
ea
ea
e
5

['ko', 'ea']

In [ ]:
t='Seoul Incheon won'.split(' ')
print(t)      # 리스트로 출력
','.join(t)   # ,로 t에 들어있는 데이터를 결합시킴  => 문자열로 출력

['Seoul', 'Incheon', 'won']

'Seoul,Incheon,won'

In [ ]:
s='kOrea'
print(s.capitalize())      # 첫글자를 대문자로
print(s.find('r'))         # r 위치 앞에서부터
print(s.count('re'))       # re 갯수
print(s.isalpha())         # check 함수들  알파벳이냐?-----------------T/F로 반환
print(s.isdigit())         # 숫자인지?
print('0123'.isdigit())    # 0123이 숫자냐?  # 순수하게 숫자로만 구성되어야 한다
print(s.replace('r','R'))  # r=>R
print(s.startswith('K'))   # k로 시작하냐?
print(s.endswith('a'))     # a로 끝나냐?
print(s.upper())   # 대문자화
s.lower()   # 소문자화

Korea
2
1
True
False
True
kORea
False
True
KOREA

'korea'

In [ ]:
# str객체 ,int 객체
ex= str()
print(ex)
type(ex)

str

In [ ]:
f=1.23
g=str(f)    # 초기화 , 캐스팅
h=repr(f)   # 숫자가 더 정교하다
print(g,"    ",h)

1.23      1.23

In [ ]:
# 컴퓨터는 계산기
# 연산자 : 산술연산자 , 수학연산자 (math:삼각함수, 지수함수, 로그함수)
a=3
b=4

print(a+b,a-b,a*b,a/b)  # 가감승제
print(a-b)
print(a*b)
print(a%b)        # 나머지 연산자
print(7 / 4)      # 나누기
print(7//4)       # 몫

7 -1 12 0.75
-1
12
3
1.75
1

In [ ]:
# iterable ( 반복되는 것 : 자료구조 : 디폴트 자료구조 - list)
# sum(1,3)

TypeError: ignored

In [ ]:
print("sum([1,2,3]):",sum([1,2,3]))  # 단일리스트로만
print('min([1,2,3]):',min([1,2,3]))
print('abs(-11):',abs(-11))
print("pow(2,10):",pow(2,10))  # 2^10
print("round(3.141592):",round(3.141592))
print('round(3.141592):', round(3.141592,2))  # 자바와 다르게 2번째 :매개변수 2번째 자리까지 표현

sum([1,2,3]): 6
min([1,2,3]): 1
abs(-11): 11
pow(2,10): 1024
round(3.141592): 3
round(3.141592): 3.14

In [ ]:
# 리스트 처리
li=[4,7,8]
lj=[5,6,7]
# concatenate 결합
print(li+lj)    # R하고 다름(R= 요소끼리 더해줌 ) / 파이선은 요소를 합쳐줌 : 분석 ( 벡터와 다름)
print(sum(li))
li*3   # 반복 = 문자열 연산하고 같다

[4, 7, 8, 5, 6, 7]
19

[4, 7, 8, 4, 7, 8, 4, 7, 8]

In [ ]:
num1= input("정수를 입력하시오:")   # 입출력시 문자열
num2= input("정수를 입력하시오:")
hab=int(num1)+ int(num2)
quotient=hab//2
remainder=hab%2
print('입력된 수를 2로 나눈 결과 몫=',quotient, "나머지=", remainder)
if remainder==0:   # 괄호가 없어도 사용이 가능    # {} indent 들여쓰기가 블록
  print("짝수입니다")
else:
    print("홀수입니다")

정수를 입력하시오:12
정수를 입력하시오:12
입력된 수를 2로 나눈 결과 몫= 12 나머지= 0
짝수입니다

In [ ]:
# 자바에서 전역변수는 없고, 변수 하나라도 지정하려면 class로
# python은 객체지향언어이면서도 전역변수가 존재한다
x=300   # 자체도 클래스
def myfunc():     # x가 전역변수로 되어있기 때문에 x가 호출
  #x=200   # 입력시 지역변수가 우선하기 때문에 200이 출력된다
  print(x)
myfunc()
print(x)

200
300

In [ ]:
# 문제 : 어떤 정수를 입력받아 0:가위 , 2: 바위,  3:보 를 출력하는 프로그램작성
select=int(input('정수를 입력하시오:'))%3
if select ==0:
  print('가위')
if select ==1:
  print('가위')
if select ==2:
  print('보')

정수를 입력하시오:1
가위

In [ ]:
if select ==0:
  print('가위')
elif select ==1: # else if
  print('바위')
elif select ==2:
  print('보')

바위

In [ ]:
a=20
b=10
print(a>b)
c=a>10 and b<50
print(c)
c=10 < a <50
print (c)

True
True
True

In [ ]:
# 문제
x=5
y=6
# temp=x
#x=y
#y=temp
x,y=y,x   # python 에서는 멀티리턴(multi return)이 가능하다   [함수도 동일]
print(x,y)
t=y,x
print(t)
print(type(t))   # # tuple   함수에서 리턴할 땐 튜플로, 순서가 있고 수정이 불가능한 데이터타입
# tuple 는 리스트하고 동일 -> 수정이나 변화가 안됨

6 5
(5, 6)
<class 'tuple'>

In [ ]:
a=[1,2,3,4,5]
b=a[0:2]      # 리스트 인덱싱 결과는 리스트   # 마지막은 제외
print(b)
print(type(b))

[1, 2]
<class 'list'>

In [ ]:
# 변수는 어떤 데이터 타입이던지 다 담을 수 있음
# 변수는 주소를 담기 때문에
# 이렇다 그래서 모든 데이터 타입간에 연산이 가능한 것은 아니다.
# 캐스팅: 암묵적캐스팅. 명시적캐스팅
a=[1,2,3]
b=str(a[2])+"hi"    # 자바하고 다른 점: 암묵적 캐스팅이 안됨
print(b)      # 연산할 때는 데이터 타입을 맞춰줘야함

3hi

In [ ]:
# R 의 vector/matrix는 동질적
# 파이썬의 리스트에 저장되는것은 데이터가 아니라 주소
# 파이썬의 리스트는 이질적이다
a=[1,2,3,['a','b','c'],4,5]     # 2차원에서는 ['a','b','c']를 하나의 인덱스(주소)로 저장
print(a[2:5])
print(a[3][:2]) # 리스트 안의 리스트 에서 :2

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [ ]:
a=[1,2,['a','b',['Life','is']]]  # 3차원
print(a[0])
print(a[2][2][0])

1
Life

In [ ]:
a=[1,2,3]
a[2]=4
print(a)
a[1:2]=['a','b','c']    # 범위를 주니까  풀려서 들어감 extend
print(a)
a[2]=['하나','둘','셋'] # 2 인덱스 replace, 하나로 줄 경우  묶여서 들어감  append
a

[1, 2, 4]
[1, 'a', 'b', 'c', 4]

[1, 'a', ['하나', '둘', '셋'], 'c', 4]

In [ ]:
a=[1,2,3,4,5]
b=range(1,6,1) # 1~5까지 1씩 증가    파이썬은 마지막은 제외하여서 5까지
# 파이썬에는 for(int i=0; i<10 , i++) 이 없다: for in (객체)  , 데이터가 넘어오면 객체가 넘어옴
print(b)
print([b])      # 리스트로 변환해주는듯?
print(list(b))  # casting

range(1, 6)
[range(1, 6)]
[1, 2, 3, 4, 5]

In [ ]:
mat=[[1,2,3],[4,5,6],[7,8,9]]
print(mat)
mat=[[0]*4]*3   # list, str에서는 *는 반복
print(mat)
mat[0][0]=100   # 주소가 복사가 되므로 조심할 것
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[100, 0, 0, 0], [100, 0, 0, 0], [100, 0, 0, 0]]

In [ ]:
# 검색방법
streaming=['netflix','julu','disney+','appletv+']
index=streaming.index('disney+')
print(index)    # 인덱스 번호가 나옴
streaming[2]    # 값이 나옴

2

'disney+'

In [ ]:
# 삭제
if 'disney+' in streaming:      # disney+ 가 있으면 disney+ 삭제
  streaming.remove('disney+')   # 문자열함수에 remove
print(streaming)
if streaming:                   # 파이썬에서는 new를 사용하지 않음 : 전부가 객체이기 때문에
  del(streaming[0])             # del 객체 메모리 해제(모두가 포인터이기 때문에)
print(streaming)

['julu', 'appletv+']
['appletv+']

In [ ]:
print(streaming[0])
streaming.append('티빙')
streaming.pop(0)
print(streaming)

티빙
['티빙']

In [ ]:
# 문제
streaming=['netflix','hula','disney+','appletv+']
print(streaming)

['netflix', 'hula', 'disney+', 'appletv+']

In [ ]:
#- 다음 데이터에서 hula를 검색해 인덱스를 출력하시오
# 명령어는 변수로 사용하면 안됨
index=streaming.index('hula')
print(index)
streaming[index]

1

'hula'

In [ ]:
#- 다음 데이터에서 '다람쥐'를 추가하시오(C)
streaming.append('다람쥐')
print(streaming)

['netflix', 'hula', 'disney+', 'appletv+', '다람쥐']

In [ ]:
#- 다음 데이터의 인덱스 1:3까지 출력하시오(R)
streaming[1:4]

['hula', 'disney+', 'appletv+']

In [ ]:
#- 다음 데이터의 disney+를 찾아서 disney land 로 변경하시오 (U)
index=streaming.index('disney+')
print(index)
streaming[2]='disney land'
print(streaming)

2
['netflix', 'hula', 'disney land', 'appletv+', '다람쥐']

In [ ]:
#- 다음 데이터의 앞에서 첫 번째 데이터를 삭제하시오(D)
if streaming:
  del streaming[0]
print(streaming)
# remove,del은 지우기만
# pop는 지운 데이터를 반환
streaming.pop(0)

['disney+', 'appletv+']

'disney+'

In [ ]:
#- 다음 데이터의 hula를 삭제하시오(D)
if  'hula' in streaming:
  streaming.remove('hula')
del(streaming[0])
print(streaming)

['appletv+']

In [ ]:
cities=['seoul','incheon','suwon']
print(cities)
cities.extend(['jeju','kwangju'])  # extend는 풀어져서 입력
print(cities)

['seoul', 'incheon', 'suwon']
['seoul', 'incheon', 'suwon', 'jeju', 'kwangju']

In [ ]:
print(cities.index('seoul'))
print('deagu' in cities)          # 포함 연산자
cities.append(['daegu','ulsan'])  # []모양을 유지하면서 추가  # 차원을 늘리려면 !
cities.insert(0,'daegu')
print(cities)

3
False
['daegu', 'daegu', 'daegu', 'daegu', 'seoul', 'incheon', 'suwon', 'jeju', 'kwangju', ['daegu', 'ulsan'], ['daegu', 'ulsan'], ['daegu', 'ulsan'], ['daegu', 'ulsan']]

In [ ]:
# 2차원 리스트에 학생 3명의 이름과 국어
[["대한",40],["민국",100],["만세",0]]
school = []
school.append(["대한",40])
school.append(["민국",100])
school.append(["만세",0])
print(school)  # 추상화 : 함수 이름만 알면 어떤 작업을 하는지 안다

[['대한', 40], ['민국', 100], ['만세', 0]]

In [ ]:
# @title 기본 제목 텍스트
print(cities[0])
print(cities[6][0])
cities.remove(cities[6])
print(cities)

daegu
s
['daegu', 'daegu', 'daegu', 'daegu', 'seoul', 'incheon', 'jeju', 'kwangju', ['daegu', 'ulsan'], ['daegu', 'ulsan']]

In [ ]:
#data # 정의가 되지않음 ( 주소가없음) C: 포인터를 이용해 동적메모리 할당
# 포인터가 초기가 안됨 : 에러발생

# 새 섹션