#if 문에서 false인 경우
-0,'',[],{},false
# for문에서 in 뒤에 올 수 있는 경우
-Collections(list,tuple,dict,set)

-str:순서적으로 다루기 때문에 (순서가 있는가)

-range

-iterator

-enumerate:인덱스+데이터

-zip: 여러개의 리스트

-generator:데이터 생성

In [ ]:
score=70
print(type(score))
if score >= 80:
  print('80이상')
else:
  print("80이하")

<class 'int'>
80이하

In [ ]:
city=''   # 문자열 초기화
if not city:    # not, and, or
  print('빈문자열')

빈문자열

In [ ]:
x=5
ans='양수' if x>0 else '음수'       # 3항 연산자
print(ans)

양수

In [ ]:
names=['대한이','민국이','만세야']
# name='대한이'
for name in names:   # Collections ( list, tuple, dict , set )
       print(name)

대한이
민국이
만세야

In [ ]:
enumerate(names)  # 파이썬에서는 모든 것이클래스 (객체)

In [ ]:
list(enumerate(names))    # tuple로 나옴

[(0, '대한이'), (1, '민국이'), (2, '만세야')]

In [ ]:
# 인덱스가 같이 반환
for name in enumerate(names):
  print(name)

(0, '대한이')
(1, '민국이')
(2, '만세야')

In [ ]:
for num, name in enumerate(names):  # 별도로 찢어서 받을 수 있음, 숫자는 num이 str은 name 이 받음
  print(num,name)

0 대한이
1 민국이
2 만세야

In [ ]:
monarchs=[('대한이',1), ('민국이',3), ('만세야',6),('성공',1)]
monarchs.sort()
print(monarchs)

[('대한이', 1), ('만세야', 6), ('민국이', 3), ('성공', 1)]

In [ ]:
# insert, remove, pop
# del(일반 명령어,리스트의 명령어가 아님)
# del을 쓰면 주소만 사라지고 데이터는그대로
names=['대한','민국','만세','성공']     # garbage collection 이 없애줌
data=[1,3,6,1]
zip(names,data)
list(zip(names,data))

[('대한', 1), ('민국', 3), ('만세', 6), ('성공', 1)]

In [ ]:
# lambds 함수는 무명함수(이름이 x => 다시 사용하지 않는 일회용 함수)
# 파이썬의 함수는 객체임
# 클래스도 함수가 될 수 있다 (call 오버 라이딩하면)

# 이렇게 사용하면 변수에 남아 있는데 1번만 쓸거면 좋지 않다
# select = lambda row : row[1]
# monarchs.sort(key=select)

monarchs.sort(key=lambda row: row[1])   # 매개변수 row를 주고
# 인덱스 1을 기준으로 잡고 정렬을 해라
print(monarchs)

[('대한이', 1), ('성공', 1), ('민국이', 3), ('만세야', 6)]

In [ ]:
monarchs.sort(key=lambda row : row[1], reverse=True)    # lambda 매개변수: 반환값
print(monarchs)

[('만세야', 6), ('민국이', 3), ('대한이', 1), ('성공', 1)]

In [ ]:
# monarchs[1][0]='대한민국'   <- 오류! 튜플은 수정이 불가하므로

In [ ]:
school=[]
name=input('이름을 입력하시요:')
kor=eval(input("국어점수를 입력하시오!"))
school.append([name,kor])
name=input("이름을 입력하시요:")
kor=eval(input("국어 점수를 입렵하시요!"))
school.append([name,kor])
name=input("이름을 입력하시요:")
kor=eval(input("국어점수를 입력하시요!"))
school.append([name,kor])
# 문제 : 위 데이터의 점수를 중심하고 내림차순으로 정렬해 출력하시요
print(school)

이름을 입력하시요: 1
국어점수를 입력하시오!2
이름을 입력하시요:3
국어 점수를 입렵하시요!4
이름을 입력하시요:5
국어점수를 입력하시요!6
[['1', 2], ['3', 4], ['5', 6]]

In [ ]:
school.sort(key=lambda row : row[1], reverse=True)
print(school)

[['5', 6], ['3', 4], ['1', 2]]

In [ ]:
# 반복문 for in : 횟수조절 = range
schools=[]
for i in range(3):    # 3번만 돌려  # 0,1,2
  name = input("이름을 입력하세요:")
  kor=eval(input("국어점수를 입력하세요!"))
  pair=[]
  pair.append(name)
  pair.append(kor)
  schools.append(pair)    # 2차원 리스트
  schools.sort(key=lambda row:row[1], reverse=True)
  print(schools)

이름을 입력하세요:100
국어점수를 입력하세요!100
[['100', 100]]
['100', 100]
이름을 입력하세요:20
국어점수를 입력하세요!20
[['100', 100], ['20', 20]]
['20', 20]
이름을 입력하세요:30
국어점수를 입력하세요!30
[['100', 100], ['20', 20], ['30', 30]]
['30', 30]

# 문제
# 010-123-4567 에서 010만 추출 해 보시요

In [ ]:
tel='010-123-4567'
tel.split('-')[0]     # optimization      코드를 간소화

'010'

In [ ]:
# 3가지 경우의 수 표현 (경우의 수)
number=0
if number >0:
  print("Positive number")
elif number ==0:
  print("Zero")
else:
  print('Negative number')

Zero

In [ ]:
# 문제
# 수입(income)과 지출(costs)를 입력받아서 순수입을 출력하는 프로그램을 작성하시오
# 경우의 수
# 수입>지출, 수입=지출, 수입<지출
# 손익 분기점, 순수입 , 순손실의 3가지 경우의 수 발생
income=eval(input('수입'))
costs=eval(input('지출'))
if income == costs:
  result == ('손익분기점')
elif costs<income:
  profit = income- costs
  result== '순수임 = {0:.2f}'.format(profit)  # format 문자열 (C#문자열)
else:
  loss=costs-income
  result='순손실= {0:.2f}'.format(loss)

print(result)

수입111
지출222
순손실= 111.00

In [ ]:
# 내포된 if 문 : 다중도 가능
income=eval(input('수입'))
costs = eval(input('비용'))
if costs == income:
  result = '손익 분기점'
else:
  if costs < income:
    profit=income-costs
    result=f'손수익={profit:.2f}'  #  f 문자열 이용
  else:
    loss=costs-income
    result=f'순손실={loss:.2f}'

print(result)

수입100
비용100
손익 분기점

-(반응에 따른 날씨 예측 프로그램)




                     BLUE      RED


    STEADY          화창      비오는날

    FLASHING        구름      눈오는날

In [ ]:
# 문제
# color와 mode를 받아서 날씨를 예측하는 프로그램을 작성하시오
color=input('BLUE/RED')
mode=input('STEADY/FLASHING')
# 논리연산자를 사용하는 경우
# if, elif, else

# 논리연산자를 사용x 경우
# if, if , else, if ,else

color=color.upper()
mode=mode.upper()

if color=='BLUE' and mode=='STEADY':
  result="화창"
elif color=='BLUE' and mode=='FLASHING':
    result='구름'
elif color=='RED' and mode=='STEADY':
    result='비오는 날'
else :
    result='눈오는 날'

print(result)

BLUE/REDblue
STEADY/FLASHINGflashing
구름

In [ ]:
# 논리연산자를 사용하지 않는 경우
# chaining
color=input('BLUE/RED').upper()
mode=input('STEADY/FLASHING').upper()
result=""
if color=='BULE':
  if mode=='STEADY':
    result='화창'
  else:
    result='구름'
else:
  if mode=='STEADY':
    result='비'
  else:
    result='눈'
print('예측된 날씨는 ',result)

# 입력 --> 처리 --> 출력

BLUE/REDred
STEADY/FLASHINGflashing
예측된 날씨는  눈

In [ ]:
# 점수를 입력받아서 A,B,C,D,F 학점으로 출력하시오 (경우의 수 5가지)
jumsu=eval(input("점수를 입력하세요!"))
if jumsu>=90:
  result='A'
elif jumsu>=80:
  result='B'
elif jumsu>=70:
  result='C'
elif jumsu>=60:
  result='D'
else:
  result='F'

print(f'당신의 학점은 {result} 입니다')

점수를 입력하세요!90
당신의 학점은 A 입니다

In [ ]:
# 1개의 과일가격 100.50원에 세금 12.5%를 붙여서 팔았다. 매출액은 얼마인가?
# 세금과 매출액이 얼마인지 출력하세요
# 소수점 2째자리까지 표현하시오
price=100.50
tax_rate=0.125
sales_price=price*(1+tax_rate)
tax_per_one=price*tax_rate
formatted_tax = "{:.2f}".format(tax_rate)
print(f'세금={round(tax_per_one,2)},1개 판매가격={round(sales_price,2)}')

세금=12.56,1개 판매가격=113.06

In [ ]:
# 판매갯수를 입력 받아서 세금 총액과 매출 총액을 출력하시오
selling_num=int(input('판매갯수:'))
tax_all=tax_per_one*selling_num
print('세금 총액 = ',tax_all)
sell_all=sales_price*selling_num
print('판매 총액 = ',sell_all)

판매갯수:100000
세금 총액 =  1256250.0
판매 총액 =  11306250.0

In [ ]:
# 평수=제곱미터/3.305
# 제곱미터로 입력되는 아파트 면적을 평수로 계산하고 종류를 판정하시오
#- 소형(17이하), 중형(17~30), 대형(30이상)
ze=eval(input('아파트 면적(m^2)를 입력하세요:'))
p=round(ze/3.305,2)
if p<=17: print('소형 아파트')
elif p<30: print('중형 아파트')
else: print('대형 아파트')

아파트 면적(m^2)를 입력하세요:30
소형 아파트

In [ ]:
# 놀이공원 매표소 단체 입장료 계산하기
# 조건: 팀별 인원 구성을 입력 ( 초등, 청소년, 성인, 경로대상) 하면
# 입장료 소견표에 ㄸ라
# 정산요금 : 초등(5000원),청소년(10000원), 성인(15000원), 경로대상(3000원)
# 팀별할인크드
# 카드 없음: 할인 , 일반카드:10%, VIP:20%
# 위의 데이터를 참조하여 총 요금을 계산하시오

# element = 5000
# Youth = 10000
# Adult = 15000
# Senior = 3000
# normal = 10/100
# VIP = 20/100

# team_member = input('구성원 입력:')
# card_grade = input('카드 등급 입력:')

# if team_member == '초등':
#     cost = element
# elif team_member == '청소년':
#     cost = Youth
# elif team_member == '일반인':
#     cost = Adult
# else:
#     cost = Senior

# if card_grade == 'VIP':
#     total_cost = cost * (1 - VIP)
# elif card_grade='non':
#    total_cost=cost
# else:
#     total_cost = cost * (1 - normal)

# print(f'총 비용: {total_cost}')

In [ ]:
ele=int(input('초등학생 몇명?'))
teen=int(input('청소년 몇명?'))
adult=int(input('일반 몇 명?'))
senior=int(input('경로대상은 몇명?'))
ele_tot=5000*ele
teen_tot=10000*teen
adult_tot=15000*adult
sen_tot=3000*senior

tot=ele_tot+teen_tot+adult_tot+sen_tot
sel=int(input("카드없음(0),일반카드(1),VIP(2)를 선택해주세요"))
if sel==0: total_cost=tot
elif sel==1: total_cost=tot*0.9
elif sel==2: total_cost=tot*0.8
print("총 요금은 " , total_cost," 원 입니다.")

초등학생 몇명?5
청소년 몇명?1
일반 몇 명?2
경로대상은 몇명?3
카드없음(0),일반카드(1),VIP(2)를 선택해주세요1
총 요금은  66600.0  원 입니다.

In [ ]:
ele_rate=5000
teen_rate=10000
adult_rate=15000
sen_rate=3000
discount_general=0.9
discount_vip=0.8

ele=int(input('초등학생 몇명?'))
teen=int(input('청소년 몇명?'))
adult=int(input('일반 몇 명?'))
senior=int(input('경로대상은 몇명?'))

ele_tot=ele_rate*ele
teen_tot=teen_rate*teen
adult_tot=adult_rate*adult
sen_tot=sen_rate*senior

tot=ele_tot+teen_tot+adult_tot+sen_tot
sel=int(input("카드없음(0),일반카드(1),VIP(21)를 선택해주세요"))
if sel==0: total_cost=tot
elif sel==1: total_cost=tot*discount_general
elif sel==2: total_cost=tot*discount_vip
print("총 요금은 " , total_cost," 원 입니다.")

초등학생 몇명?1
청소년 몇명?1
일반 몇 명?1
경로대상은 몇명?1
카드없음(0),일반카드(1),VIP(21)를 선택해주세요1
총 요금은  29700.0  원 입니다.

In [ ]:
# if 문을 사용하지 않는다면?
ele_rate=5000
teen_rate=10000
adult_rate=15000
sen_rate=3000
discount_general=0.9
discount_vip=0.8

ele=int(input('초등학생 몇명?'))
teen=int(input('청소년 몇명?'))
adult=int(input('일반 몇 명?'))
senior=int(input('경로대상은 몇명?'))

ele_tot=ele_rate*ele
teen_tot=teen_rate*teen
adult_tot=adult_rate*adult
sen_tot=sen_rate*senior

tot=ele_tot+teen_tot+adult_tot+sen_tot

sel=int(input("카드없음(0),일반카드(1),VIP(21)를 선택해주세요"))
select=[tot,tot*discount_general,tot*discount_vip]
# 메모리 낭비
print('총 요금은',select[sel], '원 입니다.')

KeyboardInterrupt: ignored

과세표준	기본세율
1,400만원 이하	과세표준의 6%

1,400만원 초과~5,000만원 이하	84만원 + (1,400만원 초과금액의 15%)

5,000만원 초과~8,800만원 이하	624만원 + (5,000만원 초과금액의 24%)

8,800만원 초과~1억5천만원 이하	1,536만원 + (8,800만원 초과금액의 35%)

In [ ]:
sal=int(input('연봉을 입력해 주세요:'))
one=14000000
two=50000000
three=88000000
four=150000000
dis_one=0.06
dis_two=0.15
dis_three=0.24
dis_four=0.35

if sal<=one:
  tax=sal*dis_one
elif one<sal<=two:
  tax=(sal-one)*dis_two+840000
elif two<sal<=three:
  tax=(sal-two)*dis_three+6240000
else:
  tax=(sal-three)*dis_four+15360000

print('당신의 연봉:',sal)
print('당신의 세금:',tax)
print('실 수령금:',sal-tax)

연봉을 입력해 주세요:1000000000
당신의 연봉: 1000000000
당신의 세금: 334560000.0
실 수령금: 665440000.0

In [ ]:
annual_income=int(input('연봉'))
tax=0.0
if annual_income <14000000:
  tax= annual_income*0.06
elif annual_income<50000000:
  tax=14000000*0.06+(annual_income*-14000000)*0.15
elif annual_income<88000000:
  tax=14000000*0.06+(50000000-14000000)*0.15+(annual_income-50000000)*0.24
elif annual_income<150000000
  tax=14000000*0.06+(50000000-14000000)*0.15+(88000000-50000000)*0.24+(annual_income-88000000)*.35

In [ ]:
annual_income=int(input('연봉'))
tax=0.0
income_interval=[14000000,50000000,88000000,150000000,300000000,500000000,1000000000]
income_level=[0,14000000,50000000,88000000,150000000,300000000,500000000,1000000000]  # 구간값 정의
basic_tax=[0,840000,6240000,15360000,37060000,94060000,174060000,384060000]
tax_rate=[0.06,0.15,0.24,0.35,0.38,0.40,0.42,0.45]
if annual_income<income_interval[0]:
  tax=basic_tax[0]+(annual_income-income_level[0])*tax_rate[0]
elif annual_income<income_interval[1]:
  tax=basic_tax[1]+(annual_income-income_level[1])*tax_rate[1]
elif annual_income<income_interval[2]:
  tax=basic_tax[2]+(annual_income-income_level[2])*tax_rate[2]
elif annual_income<income_interval[3]:
  tax=basic_tax[3]+(annual_income-income_level[3])*tax_rate[3]
elif annual_income<income_interval[4]:
  tax=basic_tax[4]+(annual_income-income_level[4])*tax_rate[4]
elif annual_income<income_interval[5]:
  tax=basic_tax[5]+(annual_income-income_level[5])*tax_rate[5]
elif annual_income<income_interval[6]:
  tax=basic_tax[6]+(annual_income-income_level[6])*tax_rate[6]
else:
  tax=basic_tax[7]+(annual_income-income_level[7])*tax_rate[7]

print('당신의 연봉:',annual_income,'실 수령액:',annual_income-tax)

연봉1000000000
당신의 연봉: 1000000000 실 수령액: 615940000.0

In [ ]:
50000000*0.15-(14000000*0.09)
88000000*0.24-(14000000*0.18+36000000*0.09)

15360000.0

In [ ]:
annual_income=int(input("연봉을 입력하시오:"))
tax=0.0
income_interval=[14000000,50000000,88000000,150000000,300000000,500000000,1000000000]
tax_rate=[0.06,0.15,0.24,0.35,0.38,0.40,0.42,0.45]
subtract_money=[0,1260000,5760000,15440000,19940000,25940000,35940000,65940000]
if annual_income<income_interval[0]:
  tax=annual_income*tax_rate[0]-subtract_money[0]
elif annual_income<income_interval[1]:
  tax=annual_income*tax_rate[1]-subtract_money[1]
elif annual_income<income_interval[2]:
  tax=annual_income*tax_rate[2]-subtract_money[2]
elif annual_income<income_interval[3]:
  tax=annual_income*tax_rate[3]-subtract_money[3]
elif annual_income<income_interval[4]:
  tax=annual_income*tax_rate[4]-subtract_money[4]
elif annual_income<income_interval[5]:
  tax=annual_income*tax_rate[5]-subtract_money[5]
elif annual_income<income_interval[6]:
  tax=annual_income*tax_rate[6]-subtract_money[6]
else:
  tax=annual_income*tax_rate[7]-subtract_money[7]

연봉을 입력하시오:10000000

In [ ]:
elements=['earth','air','fire','water']
for i in elements:
  print(i, end=" ")

earth air fire water

In [ ]:
# 인덱스를 이용해서
for i in range(len(elements)):
  print(elements[i],end=" ")

earth air fire water

In [ ]:
cart=[10,20,500,700,50,60]
for item in cart:
  if item>=500:
    continue      # 모든 데이터 대상 일부를 뺄 때
  print(item, end=" ")

10 20 50 60

In [ ]:
# 원하는 값을 찾아을 때 break
items=[1,5,7,9,11,15]
# target=9
target=int(input())
for item in items:
  if item==target:
    print(f"원하는 값 검색:{item}")
    break
    print(f"현재 확인값:{item}")

11
원하는 값 검색:11

In [ ]:
# range(start=0, stop, step=1)
# default 매개 변수는 required 매개변수 뒤에 있어야 함
# 만들 때 매개변수 갯수를 카운트 한 다음 1개가 들어오면 stop를 인식하게 만들어진 것
print(list(range(10)))            # 최종값
print(list(range(10,2)))  #xxxxxxxxxxx
print(list(range(1,10)))          # 시작값, 최종값
print(list(range(1,10,2)))        #
print(list(range(10,1,-1)))
print(list(range(1,11,-1)))#xxxxxxxxxxxx
print(list(reversed(range(10))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
ra=range(4)
ra=iter(ra)   # iterable
next(ra)
next(ra)
next(ra)
next(ra)
#next(ra) # Stopiteration Error

3

In [ ]:
# 예외처리가 있는 이유: 프로그램은 항상 정상 작동해야한다.!
ra=range(4)
ra=iter(ra)
print(ra)   # iterable 객체
res=None    # 데이터가 없음을 명시적 지적
while True:
  try:
    res=next(ra)
    print(res)
  except StopIteration :  # 정상종료
      break

<range_iterator object at 0x7ab3ebb73cf0>
0
1
2
3

In [ ]:
# 정렬의 일반화
print(sorted([7,1,2,6,0,3,2]))

[0, 1, 2, 2, 3, 6, 7]

In [ ]:
my_list=['boddy','hadz','com']
while my_list:  # [] 거짓
  print(my_list.pop())   # 없으면 뒤에서 제거
print(my_list)

com
hadz
boddy
[]

In [ ]:
# 2중 for
for x in range(2,10):
  for y in range(2,10):
    print(y,'*',x,'=',x*y,end=' ')
  print()

2 * 2 = 4 3 * 2 = 6 4 * 2 = 8 5 * 2 = 10 6 * 2 = 12 7 * 2 = 14 8 * 2 = 16 9 * 2 = 18
2 * 3 = 6 3 * 3 = 9 4 * 3 = 12 5 * 3 = 15 6 * 3 = 18 7 * 3 = 21 8 * 3 = 24 9 * 3 = 27
2 * 4 = 8 3 * 4 = 12 4 * 4 = 16 5 * 4 = 20 6 * 4 = 24 7 * 4 = 28 8 * 4 = 32 9 * 4 = 36
2 * 5 = 10 3 * 5 = 15 4 * 5 = 20 5 * 5 = 25 6 * 5 = 30 7 * 5 = 35 8 * 5 = 40 9 * 5 = 45
2 * 6 = 12 3 * 6 = 18 4 * 6 = 24 5 * 6 = 30 6 * 6 = 36 7 * 6 = 42 8 * 6 = 48 9 * 6 = 54
2 * 7 = 14 3 * 7 = 21 4 * 7 = 28 5 * 7 = 35 6 * 7 = 42 7 * 7 = 49 8 * 7 = 56 9 * 7 = 63
2 * 8 = 16 3 * 8 = 24 4 * 8 = 32 5 * 8 = 40 6 * 8 = 48 7 * 8 = 56 8 * 8 = 64 9 * 8 = 72
2 * 9 = 18 3 * 9 = 27 4 * 9 = 36 5 * 9 = 45 6 * 9 = 54 7 * 9 = 63 8 * 9 = 72 9 * 9 = 81

In [ ]:
# 두 수를 입력받아 숫자이면 합계를 내어 출력하고, 아니면 숫자가 아닌 경우가 있는지 확인
num1=(input(''))
num2=(input(''))

if num1.isdigit()==True and num2.isdigit()==True:
  num1=int(num1)
  num2=int(num2)
  print(num1+num2)
elif num1.isdigit()==False or num2.isdigit()==False:
  print('num1은 숫자인가? ',num1.isdigit())
  print('num1은 숫자인가? ',num2.isdigit())

10
ㄷ
num1은 숫자인가?  True
num1은 숫자인가?  False

In [ ]:
# 과제
# 3인분의 이름 국어 영어 수학 점수를 받아서 2차원list에 입력하고 합계와 평균을 구해 출력하시오
# 학점도 구하세요
# 최대한 simple하게
sch=[['대한',100,100,100],['민국',90,90,90],['만세',80,80,80]]
tot_1=sum(sch[0][1:])
tot_2=sum(sch[1][1:])
tot_3=sum(sch[2][1:])
print('대한이의 총점:',tot_1)
print('민국이의 총점:',tot_2)
print('만세의 총점:',tot_3)
avr_1=tot_1/3
print(avr_1)

대한이의 총점: 300
민국이의 총점: 270
만세의 총점: 240
100.0

In [ ]:
# 20231107_박지운_성